<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
.button {
  display: inline-block;
  padding: 10px 12px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #00b359;
  border: none;
  border-radius: 14px;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
</head>
<body>
<a href="/category/new"><button class="button">Nuevo</button></a>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Categoria</th>
        </tr>
        </thead>
        <tbody>

        <tr  class="success" th:each="category: ${categories}">
            <td th:text="${category.id}">
            </td>
            <td th:text="${category.name}">

            </td>
            <td>
                <a th:href="@{/category/edit/}+${category.id}"><button class="button">Editar</button></a>
                <a th:href="@{/category/delete/}+${category.id}"><button class="button">Borrar</button></a>
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>